body {
        min-height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Segoe UI', sans-serif;
        position: relative;
    }


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(1px); /* for blur effect */
    opacity: 0.9;       /* adjust for see-through effect */
}


.login-card {
    background-color: white;
    border-top: 10px solid #135b96;
    border-radius: 15px;
    box-shadow: 0 0 20px #000000;
    padding: 30px;
    width: 100%;
    max-width: 400px;
}

.login-card h3 {
    color: #0038A8;
    text-align: center;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #182242;
    border: none;
}

.btn-primary:hover {
    transition: 0.2s ease;
    background-color: #080b16;
}

.footer-note {
    text-align: center;
    font-size: 12px;
    color: #888;
    margin-top: 15px;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: #135b96;
    font-weight: bold;
}


.register-card h3 {
    color: #0038A8;
    text-align: center;
    margin-bottom: 20px;
}
.btn-danger {
    background-color: #182242;
    border: none;
}
.btn-danger:hover {
    background-color: #080b16;
}
.login-link {
    text-align: center;
    margin-top: 15px;
}
.login-link a {
    color: #135b96;
    font-weight: bold;
}
.form-row > .col-md-6 {
    margin-bottom: 15px;
}


.register-card {
    background-color: white;
    border-left: 10px solid #135b96;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 30px;
    width: 100%;
    max-width: 650px;
}

.js-error-container {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.form-row label, .form-group label {
    font-weight: 500;
}
